<%- include('./partials/header') %>

<h1>Search for a Pokémon</h1>
<form action="/pokemon/search" method="GET">
<input type="text" placeholder="Search Pokémon" class="pokemon-input" name="pokemon">
<button class="pokemon-button">
    <i class="pokemon-icon"></i>
  </button>
</form>
