<%- include('./partials/header') %>

<body class="not-a-user">
    <h1>Pokémon Vault</h1>
   <p id="login-page">Welcome to our delightful web application designed for Pokémon enthusiasts. Dive into the world of Pokémon with ease as you search and add your favorite creatures to your personal vault, all through our user-friendly interface. This fun-filled web app invites you to embark on an exciting journey. To get started, simply log in and let the adventure unfold before you. Get ready to immerse yourself in the captivating realm of Pokémon!</p>
</body>


<%- include('./partials/footer') %>