<%- include('./partials/header') %>

<body class='not-a-user'>
    
   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus odit ullam laborum architecto deleniti dolorem, natus error, reiciendis aspernatur aliquam possimus voluptas maxime, saepe mollitia blanditiis dolores quos quo reprehenderit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptates quae hic ipsa inventore, voluptatem eos animi exercitationem quibusdam incidunt! Eum pariatur optio asperiores sint molestias hic fugiat nihil quam!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est in, ipsam adipisci nobis dolores laudantium officiis amet, voluptate cumque doloribus quia. Rerum culpa consequuntur eligendi praesentium, similique aperiam veniam ex?
   </p>
</body>


<%- include('./partials/footer') %>